services:
  aniworld:
    container_name: aniworld-downloader
    image: aniworld-new
    command: ["aniworld", "--web-ui", "--web-port", "3005", "--no-browser", "--web-expose", "--output-dir", "/app/downloads"]
    ports:
      - "3005:3005"
    volumes:
      - /root/jellyfin/config/meineserien/:/app/downloads
      - ./data:/app/data
    restart: unless-stopped
